<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        
<!--        This is the position of the CSS sheet-->
        <link href="{{ url_for('static', filename='CSS/Mobile/contact.css') }}" rel="stylesheet">
<!--        <link href="../../static/CSS/Mobile/contact.css" rel="stylesheet">-->
<!--        This is the link to the font Josefin Sans, change the url if a new font is needed-->
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
      
<!--        These links refer to the tab image that will show in the browser -->
        <link rel="icon" href="../../static/CSS/Images/tag.png">
        <link rel="shortcut icon" href="../../static/CSS/Images/tag.png">
      
<!--        Tags for phone use-->
        <meta name="viewport" content="width=device-width, initial-scale=0.4, minimum-scale=0.4, maximum-scale=0.4">
        <meta name="viewport" content="height=device-height">
        <meta name="viewport" content="user-scalable = yes">
      
<!--        This defines that name that will appear on the tab in the browser-->
        <meta name="keywords" content="Counselling, Hilary, Marks, Brighton, Infertility, Fertility, Therapy, Hove, East Sussex, Sussex, BN3, BACP, BICA" />
    
<!--        This script alows j-query to run-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!--        This script points to the java file for the smooth scroll functionality-->
        <script src="../../static/js/smooth-scroll.js"></script>
        
        <title>Contact</title>
        
        <script src="../../static/js/phoneMenu.js"></script>
      
</head>
    
<body>
    
    <div class="sidebarMenu">
        <ul>
            <li class="topButton"><a href="/">Home</a></li>
            <li><a id="closeClick" href="/#anchor">About Me</a></li>
            <li><a href="/WhyCounselling">Why Counselling?</a></li>
            <li><a href="/MyPractice">My Practice</a></li>
            <li><a href="/InfertilityCounselling">Infertility Counselling</a></li>
            <li class="activeButton"><a href="/Contact">Contact Me</a></li>
        </ul>
        
        <a id="closeButton" href="#"><img src="../../static/CSS/Images/Menu_Button.png"></a>
    </div>
    
    <div class = "container">
        <a id="menuButton" href="#"><img src="../../static/CSS/Images/Menu_Button.png"></a>
        
        <h1>Contact Me</h1>

        <div class="contact">

        
        <br><br>
            
    </div>
    
    
    
    
    
    <script>smoothScroll.init();</script>
</body>
</html>